#preload {
  z-index: 9999;
  background-color: white;
}
#spinner {
  width: 3rem;
  height: 3rem; 
}

/* Page Display */
header {
  height: 15%;
}
main {
  height: 78%;
}
footer {
  height: 7%;
}
button {
  height: 38px;
}

/* Table */
table {
  border-collapse: collapse;
}
#database thead th {
  cursor: pointer;
} 
tbody {
  overflow-y: auto;
} 
tbody tr {
  cursor: pointer;
}
thead th:nth-child(n+3) {
  border-left: 1px solid white;
}

/* Modal displays */
.modal small {
  opacity: 0.75;
  font-size: 0.75em;
}
.modal span {
  word-break: break-all;
}
.modal hr {
  opacity: 0.15;
}
.modal-body button {
  width: 76px;
}
.modal-footer button {
  width: 76px;
}
.modal-body {
  min-width: 80%;
}